.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 3em;
    background: linear-gradient(to bottom, #00487C, rgba(0, 0, 0, .7));
}

.nav-menu__logo {
    max-width: 19em;
    width:100%;

    a {
        display: block;
        height: 100%;
        background: url("../../assets/casino.com_card.png") no-repeat center;
        background-size: cover;
    }
}


.nav-menu__side-container {
    display: flex;

    .user-protection {
        display: none;
    }
}

.nav-menu__links {
    display: flex;
    cursor: pointer;
}

.nav-menu__login {
    display: flex;
    align-items: center;
    width: 3em;
    font-weight: bold;
    padding: 0 .5em;
    background: linear-gradient(to bottom, #F79720, #DD7E29);
    border: 1px solid rgb(255, 141, 1);

    .login-icon {
        background: url("../../assets/mansion_sprite.png") -560px -599px no-repeat;
        width: 1.5em;
        height: 1.5em;
    }

    span {
        display: none;
        padding: 0 .7em;
    }
}


//Tablet
@media screen and (min-width: 768px) {
    .nav-menu__side-container  {
        .user-protection {
            display: flex;
        }
    }
}

//Desktop
@media screen and (min-width: 1025px) {
    .nav-menu__login {
        width: 6.6em;
        span {
            display: block;
        }
    }
}