$darkblue: #00487C;

.nav-menu {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: 3em;
    background: linear-gradient(to bottom, $darkblue, rgba(0, 0, 0, .7));
}

.nav-menu__logo {
    max-width: 19em;
    height: 100%;

    a {
        display: block;
        height: 100%;
        background: url("../../assets/casino.com_card.png") no-repeat center;
        background-size: cover;
    }
}


.nav-menu__links-wrapper {
    display: flex;
    height: 100%;

    .gabling_commision {
        display: none;
    }
}

.nav-menu__links {
    display: flex;
    background: linear-gradient(to bottom, #F79720, #DD7E29);
    border: 1px solid rgb(255, 141, 1);
}

.nav-menu__links__login {
    display: flex;
    align-items: center;
    width: 3em;
    font-weight: bold;
    padding: 0 .5em;

    .login-icon {
        background: url("../../assets/mansion_sprite.png") -560px -599px no-repeat;
        width: 1.5em;
        height: 1.5em;
    }

    span {
        display: none;
        padding: 0 .7em;
    }
}


//Tablet
@media screen and (min-width: 768px) {
    .nav-menu__links-wrapper {
        .gabling_commision {
            display: flex;
        }
    }
}

//Desktop
@media screen and (min-width: 1025px) {
    .nav-menu__links__login {
        width: 6.5em;
        span {
            display: block;
        }
    }
}