.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #fff;
  margin: auto;
}

.slider-container__slides {
  max-width: 1025px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (150px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 150px);
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  height: 150px;
  grid-gap: 25px;
  margin: 25px 5px;
  overflow: hidden;
}

.slider-container--gamebox {
  height: 150px;
}

.slider-container--gamebox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-container--gamebox:hover .game-slide {
  visibility: visible;
  height: 100%;
}

.slider-container__prev-slide,
.slider-container__next-slide {
  padding: 0;
  width: 2.3rem;
  height: 2.3rem;
  background: #00487C;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  visibility: hidden;
  height: 0;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.game-slide__heading {
  margin: .8rem auto;
  padding: 0 .5em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}

.game-slide__btn {
  margin: 0 auto;
  padding: .5rem 1rem;
  color: #fff;
  border: 1px solid #ff8d01;
  border-radius: .2rem;
  font-size: 1rem;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, left bottom, from(#F79720), to(#DD7E29));
  background: linear-gradient(to bottom, #F79720, #DD7E29);
}

.game-slide__superman {
  background: url("../../assets/adv-games/superman-the-movie34866.jpg") no-repeat center;
  background-size: cover;
}

.game-slide__casino-charms {
  background: url("../../assets/adv-games/gpas_cascharms_pop.jpg") no-repeat center;
  background-size: cover;
}

.game-slide__scatter-grains {
  background: url("../../assets/adv-games/gpas_sbrains2_pop.jpg") no-repeat center;
  background-size: cover;
}

.game-slide__double-stacks {
  background: url("../../assets/adv-games/pop_00232_ntn.jpg") no-repeat center;
  background-size: cover;
}

.game-slide__batman-catwoman {
  background: url("../../assets/adv-games/batman&catwoman.png") no-repeat center;
  background-size: cover;
}

.game-slide__green-lantern {
  background: url("../../assets/adv-games/green-lantern-second.jpg") no-repeat center;
  background-size: cover;
}

.game-slide__batman-pp {
  background: url("../../assets/adv-games/batman&pp.png") no-repeat center;
  background-size: cover;
}

.game-slide__age-of-gods {
  background: url("../../assets/adv-games/age_of_gods.jpg") no-repeat center;
  background-size: cover;
}

.game-slide__batman-batgirl {
  background: url("../../assets/adv-games/batman&batgirl.png") no-repeat center;
  background-size: cover;
}

.hidden {
  display: none;
}

.animate {
  -webkit-animation: fade 1s ease;
          animation: fade 1s ease;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .slider-container__slides {
    max-width: 850px;
  }
}

@media only screen and (max-width: 768px) {
  .slider-container__slides {
    max-width: 670px;
  }
}

@media only screen and (max-width: 767px) {
  .slider-container {
    position: relative;
    background: none;
    max-width: 320px;
  }
  .slider-container__slides {
    max-width: 313px;
    height: 320px;
    grid-gap: 10px;
    margin: auto;
  }
  .slider-container__prev-slide,
  .slider-container__next-slide {
    position: absolute;
    top: 43.33%;
    z-index: 1;
  }
  .slider-container__prev-slide {
    left: 1%;
  }
  .slider-container__next-slide {
    right: 1%;
  }
}
/*# sourceMappingURL=slider.css.map */