.animate-out {
  -webkit-animation: out 1s ease-in-out forwards;
          animation: out 1s ease-in-out forwards;
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  60% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
}

@keyframes out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  60% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
}

.user-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  -webkit-animation: 1s ease-out 0s 1 formLoadSlideEffect;
          animation: 1s ease-out 0s 1 formLoadSlideEffect;
}

.user-data--step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 1.1rem auto 1.7rem auto;
}

.user-data--step .big--heading {
  font-size: 2.5em;
}

.user-data--step .small--heading {
  font-size: 1.5em;
}

.user-data--heading,
.user-data--heading {
  font-weight: lighter;
  color: #F79720;
}

.user-data__text {
  color: #6C6B6B;
  font-size: 0.6em;
  margin: .5rem 0;
}

.user-data__form {
  margin: 10px auto;
  width: 100%;
}

.user-data__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .3em;
}

.user-data__btn-container input[type=submit],
.user-data__btn-container input[type=button] {
  width: 100%;
  padding: .7rem .3rem;
  background-color: #6FB317;
  color: #fff;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 1.2rem;
}

.user-data__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 3.3rem;
}

.user-data__helper-text {
  font-size: 0.6rem;
  padding: .2rem;
  color: red;
}

.user-data__checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-data__checkbox-container input[type=checkbox] {
  margin-right: .2rem;
}

.user-data__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #ECEBEB;
}

.user-data__input-container .icon {
  color: #6C6B6B;
  padding: 10px;
}

.user-data__input-container input[type=email],
.user-data__input-container input[type=text],
.user-data__input-container input[type=password] {
  outline: none;
  color: #6C6B6B;
  background-color: #ECEBEB;
  border: 0;
  padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .mobile-wrapper .user-data__container {
    display: none;
  }
}

@-webkit-keyframes formLoadSlideEffect {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes formLoadSlideEffect {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 1025px) {
  @-webkit-keyframes formLoadSlideEffect {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes formLoadSlideEffect {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}
/*# sourceMappingURL=user-form.css.map */