$darkblue: #00487C;
$lighterblack: #6C6B6B;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

.user-protection {
    display: flex;
    max-width: 320px;
    margin: auto;
    padding: .6rem 0.2rem;
    color: #fff;
    user-select: none;
}

.user-protection__elem {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    max-width: 7rem;

    img {
        height: 1.3rem;
    }

    i {
        font-size: 1.1rem;
        margin: 0 .9rem;
    }
}

.user-protection__elem:first-of-type {
    text-transform: uppercase;
}

.casino-container {
    background: url("../assets/flinstones-bgTwo.jpg") no-repeat 70% 50%;
    background-size: cover;

    .mobile-wrapper {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
        padding-bottom: 1px;
    }

}

.casino__main-content {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: auto;
}

.casino__offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
}

.casino__offer-banner {
    box-shadow: inset 0 0 0 1000px rgba(0, 72, 124, .8);
    max-width: 320px;
    width: 100%;
    padding: 20px 40px;
    margin: .5em .5em;
    font-size: 1.3em;
    cursor: pointer;
}

.casino__offer-message { 
    cursor: pointer;   
    .word-breaker {
        display: inline-block;
        font-size: 1.5rem;
        height: 100%;
        width: 10%;
    }
    .big--heading {
        font-size: 3.7rem;

    }
    .small--heading {
        font-size: 2.2rem;
    }
}

.legal-terms {
    max-width: 320px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    align-content: center;
    justify-content: space-between;
    padding: .7rem .2rem;
    font-size: 0.8em;
    color: $darkblue;
    font-weight: bold;
    line-height: 20px;

    .terms {
        text-decoration: underline;
        cursor: pointer;
    }
}

.casino--images {
    margin: 0 auto;
    max-width: 300px;
    user-select: none;
    display: none;
}

.casino-footer {
    background-color: #EFEFEF;
    padding: 1rem;
}

.casino-footer__sponsors-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.casino-footer--sponsor {
    padding: .3rem;

    img {
        max-height: 35px;
        width: auto;
        filter: grayscale(100%);
        object-fit: cover;
    }
}

.casino-footer__text {
    margin: auto;
    padding: .7rem;
    color: $lighterblack;
    text-align: center;
}

//Tablet
@media screen and (min-width: 768px) {
    .casino-container {
        background-position: 50% 50%;

        .mobile-wrapper {
            box-shadow: none;
        }

        .user-protection {
            display: none;
        }

        .mobile-wrapper {
            padding-bottom: 0;
        }
    }

    .casino__main-content {
        flex-flow: row;
        justify-content: space-between;

        padding-top: 15px;

    }

    .casino__offer {
        display: flex;
        justify-content: flex-start;

    }

    .casino__offer-banner {
        display: none;
    }

    .fred-flinstone-img {
        display: inline-block;
    }

    .legal-terms {
        flex-flow: row-reverse;
    }

    .casino__main-content,
    .legal-terms,
    .casino-footer__text {
        padding: .7rem 0;
        max-width: 670px;
    }
}

//Small laptops and portrait tablets
@media screen and (min-width: 1024px) {

    .casino__main-content,
    .legal-terms,
    .casino-footer__sponsors-container,
    .casino-footer__text {
        max-width: 850px;
    }
}

//Larger displays
@media screen and (min-width: 1400px) {
    .casino__offer-banner {
        display: inline-block;
    }

    .casino--images {
        display: inline-block;
    }

    .legal-terms,
    .casino__main-content {
        max-width: 1025px;
    }
}